html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    
}

/* body {
    display: grid;
    border: 3px solid red;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    grid-template-areas: "nav" "main" "footer";
    grid-template-rows: 100px 1fr 80px;
    /* margin-bottom: 25px;

} 
*/

nav {
    border: 3px solid blue;
    /* grid-area: nav; */
}

main {
    border: 3px solid green;
}


section {
    
    border: 3px solid orchid;
    /* grid-area: main; */
}



footer {
    border: 3px solid yellow;
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: aliceblue;
    /* grid-area: footer; */
} 



.wrapper {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    /* justify-content: start; */

}

